:root {
  --main-content-width: min(800px, 100%);

  /* colors */
  /* environment */
  --main-bg-color: var(--bg-color);
  --canvas-color: var(--primary-color);

  /* navbar */
  --navbar-bg-color: var(--primary-color);
  --navbar-underline-color: var(--secondary-color);
  --navbar-mobile-border-color: var(--secondary-color);
  /* navbar - items */
  --navbar-item-text-color: var(--text-color);
  --navbar-item-bg-color: var(--secondary-color);
  --navbar-item-hover-color: var(--text-color);
  --navbar-item-text-hover-color: var(--primary-color);
  --navbar-active-item-border-color: var(--secondary-accent-color);
  --navbar-active-item-bg-color: var(--primary-color);
  --navbar-logout-bg-color: var(--primary-accent-color);
}


.admin-layout {
  min-height: 100dvh;
  background-color: var(--main-bg-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  padding: 0;
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
}

.centered-container {
  background-color: var(--canvas-color);
  padding: 2rem;
  height: 100%;
  width: var(--main-content-width);
  margin: 0 auto;
  border-radius: 0 20px 0 0;
  overflow-y: auto;
}

/* Navbar styling */
#navbar {
  background-color: var(--navbar-bg-color);
  border-bottom: 1px solid var(--navbar-underline-color);
  height: auto;
}

#navbar ul {
  list-style: none;
  display: flex;
  padding: .5em;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

#navbar li {
  padding-inline: .2em;
  display: flex;
  height: auto;
}

#navbar li:not(:last-child) {
  flex: 0 0 auto;
}

#navbar li:last-child {
  margin-left: auto;
  display: flex;
  height: auto;
}

#navbar a {
  flex: 1 1 0;
  display: flex;
  text-decoration: none;
  color: var(--navbar-item-text-color);
  background-color: var(--navbar-item-bg-color);
  padding: .5em 2em;
  transition: var(--navbar-bg-color) 150ms ease;
  align-items: center;
  height: 100%;
  border-radius: 8px;
}

#navbar a:hover {
  background-color: var(--navbar-item-hover-color);
  color: var(--navbar-item-text-hover-color);
}

#navbar a.active-link {
  background-color: var(--navbar-active-item-bg-color);
  border: .15em solid var(--navbar-active-item-border-color);
  color: var(--navbar-item-text-color);
}

#navbar a.logout-link {
  background-color: var(--navbar-logout-bg-color);
  color: var(--navbar-item-text-color);
}

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* Mobile styles */
@media screen and (max-width: 700px) {
  #navbar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--navbar-mobile-border-color);
    transition: right 300ms ease-in-out;
  }

  #navbar.show {
    right: 0;
  }

  #navbar ul {
    width: 100%;
    flex-direction: column;
  }

  #navbar a {
    width: 100%;
    padding-left: 2.5em;
  }

  #navbar a.active-link {
    border-bottom: none;
  }

  #navbar .home-li {
    margin-right: unset;
  }
}