:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}

.admin-layout {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  display: none;
  /* Hidden as we've moved the title to the navbar */
}

.content {
  padding: min(5em, 7%);
}

/* Skip link for accessibility */
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid #ffffff;
}

/* Navbar styling */
#navbar {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
  height: auto;
  /* Ensure it only takes the height it needs */
}

#navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  /* Center items vertically */
}

#navbar .home-li {
  margin-right: auto;
}

#navbar .home-li h1 {
  font-size: 1.2rem;
  /* Reduce the size of the title */
  margin: 0;
  padding: 0.5em 0;
}

#navbar li {
  display: flex;
  height: auto;
}

#navbar a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
  align-items: center;
  /* Center text vertically */
  height: 100%;
}

#navbar a:hover {
  background-color: var(--hover-color);
}

#navbar a.active-link {
  border-bottom: 2px solid var(--text-color);
}

#navbar a.accent-link {
  background-color: var(--accent-color);
}

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* Mobile styles */
@media screen and (max-width: 800px) {

  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }

  #navbar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
  }

  #navbar.show {
    right: 0;
  }

  #navbar ul {
    width: 100%;
    flex-direction: column;
  }

  #navbar a {
    width: 100%;
    padding-left: 2.5em;
  }

  #navbar a.active-link {
    border-bottom: none;
  }

  #navbar .home-li {
    margin-right: unset;
  }
}