:root {

  /* Lightmode colors */
  --primary-color: #FFFFFF;
  --primary-accent-color: #EEEEEE;

  --secondary-color: #8672FF;
  --secondary-accent-color: #b8acfa;

  --text-color: #2E2B41;
  --text-accent-color: #cac9cc;

  --error-color: #f06272;
  --error-accent-color: #eb1f37;

  --bg-color: #11121a;
}